/* -----RESET AREA----- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 12px;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

/* -----STYLE AREA----- */

:root {
    --black: #150c1d;
    --white: #e0e0e0;
    --purple: #ff4fd1;
	--yellow: #ffc400;
    --roboto: 'Roboto', sans-serif;
	--bkg: url('/img/card-bg.jpg');
}

#toggle-bkg {
	display: flex;
	position: absolute;
	width: 2em;
	height: 1em;
	border-radius: 30%;
	background-color: #b6b6b6;
	margin: 1em;
}

#toggle-btn {
	width: 1.2em;
	height: 1.2em;
	margin-top: -.1em;
	margin-left: -.3em;
	display: flex;
	position: absolute;
	justify-content: center;
	align-content: center;
	border-radius: 90%;
	background-image: url('https://wallpaperaccess.com/full/896712.jpg');
	transition: 0.5s;
}

#toggle-btn::before {
	margin-top: .3em;
	font-size: .8em;
	content: "☀️";
}

#toggle-btn.active::before {
	content: "🌙";
}

#toggle-bkg.active {
	background: rgb(80, 57, 143);
	transition: 0.5s;
}

#toggle-btn.active {
	margin-left: 1em;
	display: flex;
	justify-content: center;
	align-content: center;
	background-image: url('/img/card-bg.jpg');
	color: var(--black);
	transition: 0.5s;
}

body {
	--black: #150c1d;
    --white: #e0e0e0;
    --purple: #ff4fd1;
	--yellow: #ffc400;
    --roboto: 'Roboto', sans-serif;
	--bkg: url('/img/card-bg.jpg');
	background: rgb(23,17,52);
	font-family: var(--roboto);
	transition: 0.5s;
}

body.active {
	--black: #d8cfdb;
	--white: #383838;
	--purple: #b46f06fd;
    --roboto: 'Roboto', sans-serif;
	--bkg: url('https://wallpaperaccess.com/full/896712.jpg');
	font-family: var(--roboto);
	transition: 0.5s;
}

main section{
	height: 100vh;
	width: 100vw;

}

section {
	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
}

.card {
	display: flex;
	margin: auto;
	min-width: 20rem;
	max-width: 25rem;
	height: 30rem;
	border-radius: 5%;
	flex-direction: column;
	background-image: var(--bkg);
	background-repeat: no-repeat;
	background-position-y: -32vh;
	background-size: cover;
	background-color: var(--black);
	box-shadow: 0 0 1rem black;
	flex-grow: 2;
	transition: all 0.5s ease;
}

.content {
	margin: auto;
	margin-top: 8rem;
	justify-content: center;
	align-content: center;
	text-align: center;
	color: var(--white);
	/*color:#ffc400;*/
}

#party-hat {
	opacity: 0;
	margin-left: -3.5rem;
	margin-top: -1.5rem;
	position: fixed;
	width: 4rem;
	z-index: 99;
	transition: all 0.5s ease;
}

#party-hat.active {
	opacity: 100%;
	transition: all 0.5s ease;
}

#party-confetti {
	pointer-events: none;
	opacity: 0;
	margin-left: -4rem;
	margin-top: -.15rem;
	position: fixed;
	width: 8rem;
	height: 8rem;
	border-radius: 40%;
	z-index: 99;
	transition: all 0.5s ease;
}

#party-confetti.active {
	opacity: 100%;
	transition: all 0.5s ease;
}

.profile-pic {
	margin-left: -4rem;
	position: fixed;
	width: 7rem;
	border-radius: 50%;
	border: .5rem solid var(--black);
	transition: all 0.5s ease;
}

.profile-pic:hover {
	width: 7.5rem;
	margin-left: -4.2rem;
	border-radius: 0;
	border: .5rem solid var(--black);
	transition: all 0.5s ease;
}

.profile-pic:hover ~  #party-confetti{
	border-radius: 0;
}

.cover-up{
	position: fixed;
	width: 25rem;
	height: 15rem;
	margin-top: 4rem;
	margin-left: -5.01rem;
	background-color: var(--black);
	z-index: 0;
}

h1 {
	z-index: 1;
	font-weight: bold;
	font-size: 1.2rem;
	padding: 1rem;
	margin-top: 9rem;
	position: relative;
}

span {
	color: var(--purple);
	opacity: 60%;
}

p {
	color: var(--purple);
	opacity: 60%;
	font-size: 1rem;
	font-weight: bold;
	padding-bottom: 1rem;
}

hr{
	display: block; height: .1rem;
    border: 0; border-top: .1rem solid var(--purple);
    margin: 1em 0; padding: 0;
	opacity: .2;
	margin-top: 2rem;
}

.buttons{
	margin-top: 2rem;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	gap: 2.5rem;
	font-size: 2rem;
	position: relative;
	z-index: 1;
}

.button-github:hover{
	background: linear-gradient(45deg, rgba(109,116,96,1) 7%, rgba(54,142,29,1) 58%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.button-linkedin:hover{
	background: linear-gradient(45deg, rgba(135,147,163,1) 22%, rgba(49,105,168,1) 58%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.button-instagram:hover{
	background: linear-gradient(231deg, rgba(131,58,180,1) 11%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

a{
	transition: font-size 0.5s ease;
}

a:hover{
	font-size:2.3rem;]
	transition: font-size 0.5s ease;
}
